body{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.box-login{
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;
}


.comp- h1{
    text-align: center;
    margin-bottom: 30px;
}

.ico-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 80px;
    height: auto;
}

.login-web .label{
    font-weight: bold;
    
}

.new_{
    text-align: center;
}

.login-web input{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.requisitos_password{
    font-size: 16px;
    color: #888;
    margin-top: -15px;
    margin-bottom: 20px;
}





.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}